# Part 1: Basic Programming
A Special thing to notice here that if you use `x//y`, it means integer division.


All examples based on Hunter Schafer website: https://courses.cs.washington.edu/courses/cse163/20wi/

In [ ]:
x = 5 # integer
y = 2.0
z = "Hello"
u = True

print(x * y)
print(x + y)
print(x / y)
print(x // y)

10.0
7.0
2.5
2.0

In [ ]:
if x > 6:
    print(x)
elif y < 1:
    print(y)

#Loops

In [ ]:
for i in range(1,5,2):
    print("i equals", i)

i equals 1
i equals 3

In [ ]:
i = 0
while i < 5:
    print("i equals", i)
    i+=1 #i=i+1

i equals 0
i equals 1
i equals 2
i equals 3
i equals 4

## Defining Function

In [ ]:
def fib(n=2):
    prev = 0
    curr = 1
    index = 1
    while index < n:
        temp = curr
        curr += prev
        prev = temp
        index+=1
    return curr
print(fib())

1

In [ ]:
# the hello function prints "hello" n times
def hello(n=2):
  for i in range(0,n):
    print("hello")

In [ ]:
hello(5)

hello
hello
hello
hello
hello

Built-In min function

In [ ]:
x = min(4, 8, 7)
print(x)

4

#String Concat Error

In [ ]:
s = "Hello!"
t = "there"
x = 4
print(s + t)
print(s, t)
print(s + str(x))

Hello!there
Hello! there
Hello!4

This is causing an error because x is of type `int`, but "x is " is a `str`

# Part 2: Python Data Structure

## List

In [ ]:
l = ['a','b','c'] # This is a list
print(l)
print("Type:", type(l))

#TODO: append, assign, for loop demonstration

['a', 'b', 'c']
Type: <class 'list'>

In [ ]:
l.append('d')
print(l)

['a', 'b', 'c', 'd']

In [ ]:
l[0] = 'e'
print(l)
len(l)

['e', 'b', 'c', 'd']

4

In [ ]:
# Looping over the elements in the list
# 1st way
for i in range(len(l)):
  print(l[i])

e
b
c
d

In [ ]:
for i in l:
  print(i)

e
b
c
d

## Tuple

In [ ]:
t = ('a','b','c') # This is a tuple. It is like a list but immutable
print(t)
print("Type:", type(t))

a,b,c = t # a = t[0] so on
print(a)

('a', 'b', 'c')
Type: <class 'tuple'>
a

In [ ]:
#TODO: Index assign error
t[0] = 'd'

TypeError: ignored

## Set

In [ ]:
d = {'1', '1', '2'}
print(d)
print("Type:", type(d))

{'1', '2'}
Type: <class 'set'>

In [ ]:
print('1' in d)

True

## Dict

In [ ]:
d = dict()
d['1234567'] = "Alan"
d['2345678'] = "Dog"
d[123] = 456
print(d)
print("Type:", type(d))

{'1234567': 'Alan', '2345678': 'Dog', 123: 456}
Type: <class 'dict'>

In [ ]:
for i in d.keys():
  print(i)
for i in d.values():
  print(i)

1234567
2345678
123

In [ ]:
for i in d.items():
  print(i)

('1234567', 'Alan')
('2345678', 'Dog')
(123, 456)

# Part 3: Library

In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame({'id':[1111111,2222222],
                  'name':['Alan','Rita'],
                  'AACUW_officer':[True, True]})
df #dataframe

        id  name  AACUW_officer
0  1111111  Alan           True
1  2222222  Rita           True

In [ ]:
df = pd.read_csv('/content/sample_data/california_housing_train.csv')
df.head(7)

   longitude  latitude  ...  median_income  median_house_value
0    -114.31     34.19  ...         1.4936             66900.0
1    -114.47     34.40  ...         1.8200             80100.0
2    -114.56     33.69  ...         1.6509             85700.0
3    -114.57     33.64  ...         3.1917             73400.0
4    -114.57     33.57  ...         1.9250             65500.0
5    -114.58     33.63  ...         3.3438             74000.0
6    -114.58     33.61  ...         2.6768             82400.0

[7 rows x 9 columns]

Series

In [ ]:
#TODO: series of longitude
type(df["longitude"])

pandas.core.series.Series

##Task 1: Find all data with latitude greater than 34

Python syntax from here:[CSE 163 L7](https://docs.google.com/presentation/d/1XRMUkwn92jj8h3Xp-g2sQVRjC0pmVQwOkINrW_lr7b0/edit#slide=id.g82c3f04b37_0_34
) and [CSE 163 L8](https://docs.google.com/presentation/d/1uVC4AiQAf_WmortfHZrphZKWarsjplXRqiBX3orUW6M/edit#slide=id.g838cd562d6_0_1)

In [ ]:
#TODO
mask = df["latitude"] > 34
df[mask]

       longitude  latitude  ...  median_income  median_house_value
0        -114.31     34.19  ...         1.4936             66900.0
1        -114.47     34.40  ...         1.8200             80100.0
7        -114.59     34.83  ...         1.7083             48500.0
9        -114.60     34.83  ...         2.1908             48100.0
12       -114.61     34.84  ...         2.1571             48600.0
...          ...       ...  ...            ...                 ...
16995    -124.26     40.58  ...         2.3571            111400.0
16996    -124.27     40.69  ...         2.5179             79000.0
16997    -124.30     41.84  ...         3.0313            103600.0
16998    -124.30     41.80  ...         1.9797             85800.0
16999    -124.35     40.54  ...         3.0147             94600.0

[11789 rows x 9 columns]

# Task 2: Find all data with longitude less than -120 and latitude less than or equal to 40

In [ ]:
#TODO
longitude = df["longitude"] < -120
latitude = df["latitude"] > 40
df[longitude & ~latitude]

       longitude  latitude  ...  median_income  median_house_value
10268    -120.01     39.26  ...         2.6023            139300.0
10269    -120.01     38.93  ...         2.9960            126100.0
10270    -120.01     38.92  ...         1.7188             96100.0
10271    -120.01     38.91  ...         2.0938             94400.0
10272    -120.01     38.91  ...         1.9851             86700.0
...          ...       ...  ...            ...                 ...
16879    -123.81     39.34  ...         3.1563            277000.0
16880    -123.81     39.31  ...         3.3654            225000.0
16885    -123.84     39.83  ...         1.5278            145800.0
16886    -123.84     39.46  ...         2.5192            110400.0
16888    -123.85     39.42  ...         1.7574            150000.0

[6394 rows x 9 columns]

##Task 3: Find all median_house_values with population greater than 800

In [ ]:
#TODO: use df.loc
population = df["population"] > 800
df.loc[population, "median_house_value"]

0         66900.0
1         80100.0
6         82400.0
8         58400.0
10        86500.0
           ...
16995    111400.0
16996     79000.0
16997    103600.0
16998     85800.0
16999     94600.0
Name: median_house_value, Length: 12625, dtype: float64

In [ ]:
df[population].head()

    longitude  latitude  ...  median_income  median_house_value
0     -114.31     34.19  ...         1.4936             66900.0
1     -114.47     34.40  ...         1.8200             80100.0
6     -114.58     33.61  ...         2.6768             82400.0
8     -114.59     33.61  ...         2.1782             58400.0
10    -114.60     33.62  ...         2.6797             86500.0

[5 rows x 9 columns]

In [ ]:
cols = ["longitude", "latitude", "population", "median_house_value"]
df.loc[population, cols]

       longitude  latitude  population  median_house_value
0        -114.31     34.19      1015.0             66900.0
1        -114.47     34.40      1129.0             80100.0
6        -114.58     33.61      1841.0             82400.0
8        -114.59     33.61      3134.0             58400.0
10       -114.60     33.62      2434.0             86500.0
...          ...       ...         ...                 ...
16995    -124.26     40.58       907.0            111400.0
16996    -124.27     40.69      1194.0             79000.0
16997    -124.30     41.84      1244.0            103600.0
16998    -124.30     41.80      1298.0             85800.0
16999    -124.35     40.54       806.0             94600.0

[12625 rows x 4 columns]

##Task 4: Find the average median_house_value for each housing_median_age

Aggregate function: sum(), mean(), median(), min(), and max()
https://jakevdp.github.io/PythonDataScienceHandbook/03.08-aggregation-and-grouping.html

In [ ]:
#TODO: use groupby
df.groupby('housing_median_age')['median_house_value'].max()

housing_median_age
1.0     191300.0
2.0     500001.0
3.0     500001.0
4.0     500001.0
5.0     500001.0
6.0     500001.0
7.0     500001.0
8.0     500001.0
9.0     500001.0
10.0    500001.0
11.0    500001.0
12.0    500001.0
13.0    500001.0
14.0    500001.0
15.0    500001.0
16.0    500001.0
17.0    500001.0
18.0    500001.0
19.0    500001.0
20.0    500001.0
21.0    500001.0
22.0    500001.0
23.0    500001.0
24.0    500001.0
25.0    500001.0
26.0    500001.0
27.0    500001.0
28.0    500001.0
29.0    500001.0
30.0    500001.0
31.0    500001.0
32.0    500001.0
33.0    500001.0
34.0    500001.0
35.0    500001.0
36.0    500001.0
37.0    500001.0
38.0    500001.0
39.0    500001.0
40.0    500001.0
41.0    500001.0
42.0    500001.0
43.0    500001.0
44.0    500001.0
45.0    500001.0
46.0    500001.0
47.0    500001.0
48.0    500001.0
49.0    500001.0
50.0    500001.0
51.0    500001.0
52.0    500001.0
Name: median_house_value, dtype: float64

##Final Task: Sort the entire data by housing_median_age

In [ ]:
#TODO: use df.sort_values
sorted_df = df.sort_values('housing_median_age')

In [ ]:
sorted_df

       longitude  latitude  ...  median_income  median_house_value
13708    -122.00     38.23  ...         5.2636            191300.0
10993    -120.93     37.65  ...         4.2500            189200.0
1353     -117.17     34.12  ...         5.4138            164400.0
8765     -118.61     34.38  ...         6.6916            329500.0
8672     -118.56     34.42  ...         1.9667            450000.0
...          ...       ...  ...            ...                 ...
15193    -122.27     37.89  ...         7.2660            371100.0
15192    -122.27     37.89  ...         8.8342            430500.0
15190    -122.27     37.90  ...         6.1740            358800.0
15209    -122.27     37.85  ...         1.5817            153600.0
16999    -124.35     40.54  ...         3.0147             94600.0

[17000 rows x 9 columns]

In [ ]:
# demonstrate df.nlargest
df.nlargest(20, 'housing_median_age')

      longitude  latitude  ...  median_income  median_house_value
325     -116.88     34.08  ...         3.9028            128600.0
1011    -117.10     32.76  ...         4.2813            270800.0
1074    -117.11     32.77  ...         4.3875            300000.0
1075    -117.11     32.77  ...         6.6053            331400.0
1103    -117.11     32.67  ...         1.4844             83300.0
1104    -117.11     32.67  ...         1.7961             47500.0
1146    -117.12     32.74  ...         3.7900            163400.0
1202    -117.13     32.74  ...         3.6852            185300.0
1205    -117.13     32.73  ...         3.6058            213100.0
1206    -117.13     32.73  ...         2.2429            221100.0
1207    -117.13     32.73  ...         5.4540            240900.0
1210    -117.13     32.72  ...         2.7083            199100.0
1268    -117.14     32.71  ...         1.2375            100000.0
1269    -117.14     32.71  ...         1.5594             87500.0
1270    -117.14     32.71  ...         1.6011            106300.0
1309    -117.15     32.72  ...         1.2292            137500.0
1311    -117.15     32.71  ...         1.3125             87500.0
1312    -117.15     32.71  ...         1.6607            137500.0
1313    -117.15     32.70  ...         1.2863             86300.0
1338    -117.16     32.74  ...         2.6042            225000.0

[20 rows x 9 columns]